<div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <h5><a routerLink='fromevent'>fromEvent</a></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <h5><a routerLink='interval'>Interval & Timer</a></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <h5><a routerLink='offrom'>Of-From</a></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <h5><a routerLink='toarray'>ToArray</a></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <h5><a routerLink='custom'>Custom</a></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <h5><a routerLink='map'>Map</a></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <h5><a routerLink='pluck'>Pluck</a></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <h5><a routerLink='retry'>Retry</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
